.canvasWrapper {
	flex-grow: 1;
	width: 100%;
	height: 80vh;
	box-sizing: content-box;
}

.toolsWrapper {
	margin: 10px 0;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.tool {
	border: 0;
	border-bottom: solid 2px rgba(0, 0, 0, 0);
	cursor: pointer;
	margin: 0;
	padding: 3px;
}

.tool.selected {
	border-color: blue;
}

.toolSettingsWrapper {
	display: flex;
	gap: 15px;
	margin-bottom: 10px;
}

.toolSettingsWrapper input {
	width: unset;
}

.toolSettingsWrapper input[type="color"] {
	min-width: 30px;
}

.toolSettingsGroup {
	display: block;
}

.toolSettingsGroup label,
.toolSettingsGroup input[type="range"] {
	cursor: pointer;
}
